{{! The main content area on the homepage }}
<div class="panel panel-default clearfix media">
  <div class="media-text text-center col-sm-4">
    <h2>The soundtrack of your career starts here</h2>
    <p>Record each digital footprint in the trail of "Brand You".</p>
    <div class="banner-splash">
      <ul class="splash-menu">

        <li class="splash-tour"><a href="/take-the-tour">Take the Tour</a></li>
      </ul>
    </div>
  </div>
  <div class="media-body">
    <a class="pull-right" href="{{@blog.url}}">
      <img src="{{@blog.cover}}" alt="Blog Logo" />
    </a>
  </div>
</div>
