/* ==========================================================================
   Theme colors
   ========================================================================== */
$white:                  #fefefe;
$black:                  #111;

$color1:                 #0099d3;
$color2:                 #01213D;
$color3:                 #00F228;
$color3-dark:            #00d924;
$color4:                 #ffD700;

$primary-3:              $color3-dark;
