.navbar-brand {
  margin-top:-5px;
  font-size: 10px;
  color: $color1;
}

.author {
  background-color: $gray-lighter;
  padding-top: 20px;
  padding-bottom: 20px;
}

.panel-body {
  h1, h2{
    margin-top:0px;
  }
}

.post-container {
  position: relative;
  padding-bottom:0px;
}

.blog-item-date {
  position: absolute;
  top: 5px;
  left: -66px;
  background-color: $color1;
  color: $white;
  padding:10px 5px;
  @include border-left-radius($border-radius-base);
  b {
    display: block;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
  }
}

.btn-group>.btn {
  margin-bottom: 5px;
}
